<section class="section ">
  
<p style="color: green"><%= notice %></p>

  

<div id="products " class="columns">
  <% @products.each do |product| %>
      <%= render product %>
   <% end %>
</div>

<%= link_to "New product", new_product_path %>
</section>
